<!--

 This is the regular page template which is called when accessing
 any web page. Check the implementation of 'def page(path)' in site.py

-->

{% extends "base/base.html" %}



{# ===== Header style and image ===== #}

{% block header_class %}
    header-small
{% endblock %}

{% block header_background %}
    {{ page.image }}
{% endblock %}



{# ===== Header content ===== #}

{% block header_content %}
    <h1 class="header-title">{{ page.title }}</h1>
    <h2 class="header-subtitle">{{ page.subtitle }}</h2>
{% endblock %}



{# ===== Page content ===== #}

{% block page_content %}
    {{ page.html|safe }}
{% endblock %}
